<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DockerIntegrationTestwithJenkins" parallel="classes">
	<test name="DockerTest">
		<classes>
			<class name="com.java.seleniumAutomation.Setup_DockerGrid" />
			<class name="com.java.seleniumAutomation.DockerIntegrationTest" />
			<class name="com.java.seleniumAutomation.DockerIntegrationTest2" />
			<class name="com.java.seleniumAutomation.DockerIntegrationTest3" />
		</classes>
	</test>
</suite>
